<div class="IrSignals">
<% @ir_signals.each do |ir_signal| %>
<div class="IrSignal">
  <%= link_to "&nbsp;".html_safe, ir_signal_path(ir_signal), class: "remove", confirm: "Are you sure?", method: :delete %>
  <%= link_to ir_signal.name, nec_code_trigger_ir_signal_path(ir_signal), class: "name", method: :post %>
</div>
<% end %>
</div>

<%= link_to "+", new_ir_signal_path, class: "addButton" %>
