<div class="IrSignalAdd">
  <%= form_for @ir_signal do |f| %>
  <div class="name">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.button "Record", class: "RoundBigButton" %>
  </div>
  <% end %>
</div>
