<%= form_for @ir_signal do |f| %>
  <div class="small-12 columns">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="small-12 columns">
    <%= f.button "Create" %>
  </div>
<% end %>
